In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

df = pd.read_csv('../data/raw/data_elonmusk.csv', encoding='latin1')
df = df[df['Retweet from'].isna()]
print(df.shape)
df.head()

(2693, 5)

/tmp/ipykernel_7831/1998977223.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,row ID,Tweet,Time,Retweet from,User
0,Row0,"@MeltingIce Assuming max acceleration of 2 to 3 g's, but in a comfortable direction. Will feel like a mild to moder? https://t.co/fpjmEgrHfC",2017-09-29 17:39:19,NaN,elonmusk
2,Row2,@bigajm Yup :),2017-09-29 10:39:57,NaN,elonmusk
3,Row3,Part 2 https://t.co/8Fvu57muhM,2017-09-29 09:56:12,NaN,elonmusk
4,Row4,Fly to most places on Earth in under 30 mins and anywhere in under 60. Cost per seat should be? https://t.co/dGYDdGttYd,2017-09-29 09:19:21,NaN,elonmusk
6,Row6,BFR will take you anywhere on Earth in less than 60 mins https://t.co/HWt9BZ1FI9,2017-09-29 08:53:00,NaN,elonmusk

# Clearing

In [2]:
!pip install twitter-text-parser

Requirement already satisfied: twitter-text-parser in /home/denra/.cache/pypoetry/virtualenvs/elon-musk-dataset-XoKwTToE-py3.8/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: attrs~=19.3.0 in /home/denra/.cache/pypoetry/virtualenvs/elon-musk-dataset-XoKwTToE-py3.8/lib/python3.8/site-packages (from twitter-text-parser) (19.3.0)
WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the '/home/denra/.cache/pypoetry/virtualenvs/elon-musk-dataset-XoKwTToE-py3.8/bin/python -m pip install --upgrade pip' command.

In [3]:
import re
from twitter_text import extract_urls

mention_pattern = r'\@[a-z_\-]+'
hashtag_pattern = r'\#[a-z]+'
spaces_pattern = r'\s+'
pattern = r'^.{,}'

def clean_tweet(text):
    # todo: replace series of urls with corresponding text parts
    for url in extract_urls(text):
        text = text.replace(url, '')
    text = re.sub(mention_pattern, '', text, flags=re.I)
    text = re.sub(hashtag_pattern, '', text, flags=re.I)
    text = text.replace('?:', '')
    text = re.sub(spaces_pattern, ' ', text).strip()

    return text

In [4]:
tweets = df.Tweet.apply(clean_tweet)
tweets

0       Assuming max acceleration of 2 to 3 g's, but in a comfortable direction. Will feel like a mild to moder?
2       Yup :)
3       Part 2
4       Fly to most places on Earth in under 30 mins and anywhere in under 60. Cost per seat should be?
6       BFR will take you anywhere on Earth in less than 60 mins
                                  ...
3212    Mass. judge denies auto dealers' demand to kill our little Tesla store. Yay, justice prevails!
3213    Amos's article was fair, but his editor chose a more sensational headline & used quotes even though I didn't actually say that.
3214    These articles in Space News describe why Ariane 6 vs 5: and
3215    Was misquoted by BBC as saying Europe's rocket has no chance. Just said the [Franco-German] Ariane 5 has no chance, so go with Ariane 6.
3216    Just returned from a trip to London and Oxford, where I met with many interesting people. I really like Britain!
Name: Tweet, Length: 2693, dtype: object

# Create dataset

In [15]:
tweets.name = 'phrase'
tweets = tweets.dropna().drop_duplicates()
tweets = tweets[tweets != '']
tweets.to_csv('../data/datasets/twitter_dataset.csv', index=False)